<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ignorama</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <partial name="_CookieConsentPartial" />

    <div class="row header">
        <div class=col-xs-12>
            <div class=container>
                <div class=row>
                    <span class=hidden-xs>
                        <div class=col-xs-6 style="padding-top: 4px;">
                            <a asp-controller="Home" asp-action="Index">
                                <img src=/ignorama.png>
                            </a>
                        </div>
                    </span>
                    <span class=visible-xs-inline>
                        <div class=col-xs-3 style="padding-top: 15px;">
                            <a asp-controller="Home" asp-action="Index">
                                <img src=/ignoramasmall.png>
                            </a>
                        </div>
                    </span>
                    <span class="col-xs-9 col-sm-6">
                        <div class=row>
                            <div class=col-xs-12>
                                <span class=hidden-xs>
                                    <span class=hidden-xs>
                                        <div style="float: right;">
                                            <span style="padding: 3px;">
                                                <a href=https://twitter.com/IgnoramaDotNet target=_blank title=Twitter>
                                                    <span class="fa fa-twitter">
                                                    </span>
                                                </a>
                                            </span>
                                            <span style="padding: 3px;">
                                                <a href=https://github.com/tssund93/lispy-ignorama target=_blank title=GitHub>
                                                    <span class="fa fa-github">
                                                    </span>
                                                </a>
                                            </span>
                                            <span class=header-link>
                                                <a href=/following>Following</a>
                                            </span>
                                            <span class=header-link>
                                                <a href=/hidden>Hidden</a>
                                            </span>
                                            <span class=header-link>
                                                <a href=/bans>Bans</a>
                                            </span>
                                        </div>
                                    </span>
                                </span>
                                <span class=visible-xs-inline>
                                    <div class=row>
                                        <div class=col-xs-12>
                                            <div class=btn-group style="float: right;">
                                                <a class="btn btn-default btn-sm dropdown-toggle" style="margin: 5px;" data-toggle=dropdown>
                                                    Menu <span class=caret>
                                                    </span>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <div>
                                                        <a class=dropdown-item href=/following>Following</a>
                                                    </div>
                                                    <div>
                                                        <a class=dropdown-item href=/hidden>Hidden</a>
                                                    </div>
                                                    <div>
                                                        <a class=dropdown-item href=/bans>Bans</a>
                                                    </div>
                                                    <div>
                                                        <a class=dropdown-item target=_blank href=https://twitter.com/IgnoramaDotNet>Twitter</a>
                                                    </div>
                                                    <div>
                                                        <a class=dropdown-item target=_blank href=https://github.com/tssund93/lispy-ignorama>GitHub</a>
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                        <div class=row>
                            <div class=col-xs-12>
                                <div style="float: right;">
                                    <div>
                                        <a class=header-link asp-area="Identity" asp-page="/Account/Register">
                                            Sign up
                                        </a>
                                        <span class=header-link style="color: white;">/</span>
                                        <a class=header-link asp-area="Identity" asp-page="/Account/Login">
                                            Log in
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <main>
            @RenderBody()
        </main>

        <footer style="padding-top: 15px;">
            <div style='text-align:center;font-size:9pt;'>
                <p>
                    All trademarks and copyrights are owned by their respective parties.
                    Comments and uploaded images are the responsibility of the poster.
                </p>
                <p>Copyright © 2018 Ignorama. All rights reserved.</p>
            </div>
            <br />
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>