@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1>
    @if (Model.StatusCode != null)
    {
        @Model.StatusCode
    }
    else
    {
        <text>Error</text>
    }
</h1>
<h3>
    @if (Model.StatusCode != null)
    {
        @Model.StatusReason
    }
    else
    {
        <text>An error occurred while processing your request.</text>
    }
</h3>

<hr />

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}