@model Ignorama.Models.NewThreadViewModel
@{
    ViewData["Title"] = "New Thread";
}

<h2 class="page-title">New Thread</h2>

<form asp-action="New">
    <div class=row>
        <div class="col-xs-3 col-sm-2 col-md-1 subject-label">Subject:</div>
        <input class="col-xs-9 col-sm-10 col-md-11" type=text asp-for="Title" required>
    </div>
    <div class=row>
        <textarea class=col-xs-12 asp-for="Text" id="postfield" rows=7 cols=50 required></textarea>
    </div>
    <div class=row>
        <div class=tagsdropdown>
            Tag:
            <select asp-for="TagID" required>
                <option value="">- Select a tag -</option>
                @if (Model != null)
                {
                    foreach (var tag in Model.Tags)
                    {
                        <option value="@tag.ID">@tag.Name</option>
                    }
                }
            </select>
        </div>
        <div class="rightbuttons bottom">
            <input class="btn btn-default btn-sm" id="submitbutton" type=submit value=Submit>
            <input class="btn btn-default btn-sm" asp-controller="HomeController" asp-route="Index" type=button value=Back>
        </div>
    </div>
</form>
<partial name="_UploadForm" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src=/js/uploadfile.js></script>
}