@model Ignorama.Models.NewThreadViewModel
@{
    ViewData["Title"] = "New Thread";
}
<div class="row constrained">
    <h2 class="page-title">@ViewData["Title"]</h2>
</div>

<div class="row constrained">
    <div class="col-xs-12">
        <form asp-action="New">
            <div class="form-group">
                <input type=text asp-for="Title" class="form-control" placeholder="Subject">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea asp-for="Text" id="postfield" rows=7 class="form-control" placeholder="Body"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <select asp-for="TagID" class="form-control">
                        <option value="">- Select a tag -</option>
                        @if (Model != null)
                        {
                            foreach (var tag in Model.Tags)
                            {
                                <option value="@tag.ID">@tag.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="TagID" class="text-danger"></span>
                </div>

                <div class="rightbuttons bottom col-sm-6">
                    <a class="btn btn-default" asp-controller="Home" asp-action="Index">Back</a>
                    <input class="btn btn-default" id="submitbutton" type=submit value=Submit>
                </div>
            </div>
        </form>
        <div class="upload-to-thread-form">
            <label>Upload an image:</label>
            <partial name="_UploadForm" />
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <environment include="Development">
        <script src="~/js/uploadfile.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/uploadfile.min.js" asp-append-version="true"></script>
    </environment>
}