@model Ignorama.Models.ThreadViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row constrained">
    <h2 class="page-title">
        @if (Model.Locked)
        {
            <span class="thread-icon glyphicon glyphicon-lock"></span>
        }
        @ViewData["Title"]
    </h2>
</div>

<div class="row constrained">
    <b-pagination v-if="posts.length > perPage" size="sm" :total-rows="posts.length" v-model="page" :per-page="perPage"></b-pagination>
</div>

<posts-list :posts="posts" :page="page" :per-page="perPage"></posts-list>

<div class="row constrained">
    <b-pagination v-if="posts.length > perPage" size="sm" :total-rows="posts.length" v-model="page" :per-page="perPage"></b-pagination>
</div>

<div class='slid-in' id='quickreply'>
    @if (Model.Locked && !Model.Roles.Contains("Moderator"))
    {
        <div class="centered">Thread Locked</div>
    }
    else
    {
        <div class="centered"><a href='javascript:slide();'>Reply <span id="replyCaret" class="caret caret-up"></span></a></div>
    }
    <form id='postform' asp-controller="Posts" asp-action="New" method='post'>
        @Html.AntiForgeryToken()
        <textarea id='postfield' name='Text' rows='7' class='col-xs-12' style='resize:none;' required></textarea>
        <br />
        <div>
            @if (Model.IsOP)
            {
                <label>
                    <input id='RevealOP' name='RevealOP' type='checkbox'>
                    Reveal OP
                </label>
            }
            @if (Model.CanBump)
            {
                <label>
                    <input name='Bump' type='checkbox'>
                    Bump!
                </label>
            }
            @if (SignInManager.IsSignedIn(User))
            {
                <label>
                    <input name='Anonymous' type='checkbox' checked>
                    Post Anonymously
                </label>
            }
            <div>
                <input id='submitbutton' class='btn btn-default btn-sm' name="Submit1" type="submit" value="Submit" />
            </div>
        </div>
    </form>
    <partial name="_UploadForm" />
</div>

@section Scripts {
    <script>var lastSeenPostID = '@Model.LastSeenPostID'</script>
    <environment include="Development">
        <script src="~/js/date-mixin.js" asp-append-version="true"></script>
        <script src="~/js/user-component.js" asp-append-version="true"></script>
        <script src="~/js/post-component.js" asp-append-version="true"></script>
        <script src="~/js/posts-list-component.js" asp-append-version="true"></script>
        <script src="~/js/posts.js" asp-append-version="true"></script>
        <script src="~/js/uploadfile.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/date-mixin.min.js" asp-append-version="true"></script>
        <script src="~/js/user-component.js" asp-append-version="true"></script>
        <script src="~/js/post-component.js" asp-append-version="true"></script>
        <script src="~/js/posts-list-component.js" asp-append-version="true"></script>
        <script src="~/js/posts.min.js" asp-append-version="true"></script>
        <script src="~/js/uploadfile.min.js" asp-append-version="true"></script>
    </environment>
}