@model Ignorama.Models.ThreadViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">@Model.Title</h2>

<b-pagination size="md" :total-rows="posts.length" v-model="page" :per-page="perPage"></b-pagination>
<div class="row" v-for="post in visiblePosts">
    <div class="col-xs-12 thread" v-cloak>
        <div style="margin-bottom: -15px;">
            <span style="font-size: 12px; color: gray;">
                <b v-if="post.Anonymous || !post.User">Anonymous</b>
                <b v-else>{{ post.User.UserName }}</b>
                <span v-if="post.Bump">| Bump</span>
                <span v-if="post.RevealOP">| OP</span>
                <span class="time" style="float: right;">{{ post.Time | date }}</span>
            </span>
        </div>
        <br>
        <div>{{ post.Text }}</div>
    </div>
</div>
<b-pagination size="md" :total-rows="posts.length" v-model="page" :per-page="perPage"></b-pagination>

<div class='slid-in' id='quickreply' style='background-color: #E8E8E8; padding-right:5px; padding-left:5px;z-index:5;'>
    <div style='text-align:center;'><a href='javascript:slide();'>Reply</a></div>
    <form id='postform' asp-controller="Posts" asp-action="New" method='post'>
        @Html.AntiForgeryToken()
        <textarea id='postfield' name='Text' rows='7' class='col-xs-12' style='resize:none;' required></textarea>
        <br />
        <div style='float:left;'>
            @if (Model.IsOP)
            {
                <input name='RevealOP' type='checkbox'><text>Reveal OP</text>
            }
            else
            {
                <input name='Bump' type='checkbox'><text>Bump!</text>
            }
            @if (SignInManager.IsSignedIn(User))
            {
                <input name='Anonymous' type='checkbox'><text>Post Anonymously</text>
            }
            <div style='padding-bottom:5px; display:block;'>
                <input id='submitbutton' style="margin-top: 5px;float:right;" class='btn btn-default btn-sm' name="Submit1" type="submit" value="Submit" />
            </div>
    </form>
    <form id='uploadForm' action="php/uploadfile.php" method='post' enctype='multipart/form-data'>
        @Html.AntiForgeryToken()
        <span class='block-inline'>
            <input id='test' onchange='updateFilename();' type='file' name='upload' style='left: 6px;position: absolute;bottom: 7px;width: 219px;'>
        </span>
        <input id='uploadsubmit' class='btn btn-default btn-xs' type='submit' value='Upload' style='background: transparent;border: none !important;font-size:0;'>
        <input id='filename' type='hidden' name='filename' value='none'>
    </form>
</div>

@section Scripts {
    <script src="/js/posts.js"></script>
}