@{
    ViewData["Title"] = "Ignorama";
}

<div class="row dropdown">
    <div class=col-xs-12 style="margin-top: 5px; margin-bottom: 5px;">
        <a class="btn btn-default btn-sm threads" style="margin: 3px;" asp-controller="Threads" asp-action="New">New Thread</a>
        <form style="float: right;" action=b/apply-tags method=post>
            <input class="btn btn-default btn-sm threads" type=submit style="margin: 3px;" value="Apply Boards">
            <a class="dropdown-toggle btn btn-default btn-sm" style="margin-left: 3px;" data-toggle=dropdown>
                Boards <b class=caret>
                </b>
            </a>
            <ul class="dropdown-menu dropdown-menu-form pull-right" role=menu>
                <li>
                    <label>
                        <input type=checkbox name=1 checked> Anime &amp; Manga
                    </label>
                <li>
                    <label>
                        <input type=checkbox name=52 checked> Music
                    </label>
                <li>
                    <label>
                        <input type=checkbox name=22 checked> Off-Topic
                    </label>
                <li>
                    <label>
                        <input type=checkbox name=10 checked> Technology
                    </label>
                <li>
                    <label>
                        <input type=checkbox name=2 checked> Video Games
                    </label>
            </ul>
        </form>
        <a v-on:click="view = ''" href="#">
            All
        </a>
        <a v-on:click="view = 'following'" href="#">
            Following
        </a>
        <a v-on:click="view = 'hidden'" href="#">
            Hidden
        </a>
        <span style="float: right; margin: 3px;">
            <span class=hidden-xs>
                <form class=searchform action="/" method=get>
                    <input class=searchbox name=search type=text>
                    <input type=hidden name=f value=search>
                    <button class="btn btn-default btn-sm searchbutton" type=submit>
                        <span class="glyphicon glyphicon-search">
                        </span>
                    </button>
                </form>
            </span>
        </span>
    </div>
</div>
<div class=row v-for="thread in visibleThreads">
    <div class="col-xs-12 thread">
        <div class=btn-group style="float: right;">
            <a class="btn btn-default btn-xs dropdown-toggle" data-toggle=dropdown>
                <span class=caret>
                </span>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a v-if="thread.hidden" href="#" v-on:click="unhideThread(thread)">
                        Unhide thread
                    </a>
                    <a v-else href="#" v-on:click="hideThread(thread)">
                        Hide thread
                    </a>
            </ul>
        </div>
        <span v-if="thread.stickied" class="thread-icon glyphicon glyphicon-bookmark"></span>
        <span v-if="thread.locked" class="thread-icon glyphicon glyphicon-lock"></span>
        <a :title="thread.posts[0].text" href="#" v-on:click="thread.following = true">
            {{ thread.title }}
        </a>
        <a v-if="thread.following" v-on:click="thread.following = false" href="#" title="Unfollow thread" style="padding-right: 5px;">
            <b class="unfollow-link glyphicon glyphicon-eye-close"></b>
        </a>
        <br>
        <span style="font-size: 12px; color: gray;">
            {{ thread.posts[0].user.userName }}
            <br>
            Board: {{ thread.tag.name }} | Replies: {{ thread.posts.length }} | Last reply: <span class=time>{{ thread.posts[thread.posts.length - 1].time | date }}</span>
        </span>
    </div>
</div>

@section Scripts {
    <script src="/js/threads.js"></script>
}