@model IEnumerable<Ignorama.Models.Tag>
@{
    ViewData["Title"] = "Ignorama";
}

<div class="row dropdown">
    <div class=col-xs-12 style="margin-top: 5px; margin-bottom: 5px;">
        <a class="btn btn-default btn-sm threads" style="margin: 3px;" asp-controller="Threads" asp-action="New">New Thread</a>
        <form style="float: right;" action=b/apply-tags method=post>
            <a class="dropdown-toggle btn btn-default btn-sm" style="margin-left: 3px;" data-toggle=dropdown>
                Boards <b class=caret>
                </b>
            </a>
            <ul class="dropdown-menu dropdown-menu-form pull-right" role=menu>
                <li v-for="tag in tags">
                    <label>
                        <input v-model="selectedTags" type=checkbox :value=tag.ID :checked="selectedTags.includes(tag.ID)" v-on:change="updateSelectedTag(tag)">{{ tag.Name }}
                    </label>
                </li>
            </ul>
        </form>
        <a v-on:click="view = ''" href="#" v-bind:class="{ bold: view === '' }">
            All
        </a>
        <a v-on:click="view = 'following'" href="#" v-bind:class="{ bold: view === 'following' }">
            Following
        </a>
        <a v-on:click="view = 'hidden'" href="#" v-bind:class="{ bold: view === 'hidden' }">
            Hidden
        </a>
        <span style="float: right; margin: 3px;">
            <input class=searchbox name=search type=text placeholder="Search" v-model="search">
        </span>
    </div>
</div>
<div class=row v-for="thread in visibleThreads">
    <div class="col-xs-12 thread" :class="{ newposts: thread.Following && thread.LastSeenPostID < thread.LastPost.ID }" v-cloak>
        <div class=btn-group style="float: right;">
            <a class="btn btn-default btn-xs dropdown-toggle" data-toggle=dropdown>
                <span class=caret>
                </span>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a v-if="thread.Hidden" href="#" v-on:click="toggleHidden(thread)">
                        Unhide thread
                    </a>
                    <a v-else href="#" v-on:click="toggleHidden(thread)">
                        Hide thread
                    </a>
                </li>
                <li v-if="thread.UserRoles.includes('Admin') || thread.UserRoles.includes('Moderator')">
                    <a v-if="thread.Stickied" href="#" v-on:click="toggleStickied(thread)">
                        Unsticky thread
                    </a>
                    <a v-else href="#" v-on:click="toggleStickied(thread)">
                        Sticky thread
                    </a>
                </li>
                <li v-if="thread.UserRoles.includes('Admin') || thread.UserRoles.includes('Moderator')">
                    <a v-if="thread.Locked" href="#" v-on:click="toggleLocked(thread)">
                        Unlock thread
                    </a>
                    <a v-else href="#" v-on:click="toggleLocked(thread)">
                        Lock thread
                    </a>
                </li>
            </ul>
        </div>
        <span v-if="thread.Stickied" class="thread-icon glyphicon glyphicon-bookmark"></span>
        <span v-if="thread.Locked" class="thread-icon glyphicon glyphicon-lock"></span>
        <a :title="thread.FirstPost.Text" :href="'Threads/View/' + thread.ID">
            {{ thread.Title }}
        </a>
        <a v-if="thread.Following" v-on:click="unfollow(thread)" href="#" title="Unfollow thread" style="padding-right: 5px;">
            <b class="unfollow-link glyphicon glyphicon-eye-close"></b>
        </a>
        <br>
        <span style="font-size: 12px; color: gray;">
            <span v-if="thread.FirstPost.Anonymous || !thread.OP">Anonymous</span>
            <span v-else>{{ thread.OP.UserName }}</span>
            <br>
            Board: {{ thread.Tag.Name }} | Replies: {{ thread.PostCount }} | Last reply: <span class=time>{{ thread.LastPost.Time | date }}</span>
        </span>
    </div>
</div>

@section Scripts {
    <script src="~/js/threads.js"></script>
    <script src="~/js/uploadfile.js"></script>
}