@{
    ViewData["Title"] = "Spam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Spam detected</h2>

<p>Your post was detected as spam and has not been posted.  If this was in error, please contact the administrator.</p>